.carregamento-pag {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid rgb(0, 42, 255);
    border-bottom: 5px solid #6aa0ff;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}